/venv

__pycache__/
*.py[cod]

**/**/migrations/
**/**/__pycache__/
**/media/**
**/static/**
**/db.sqlite3

.env

*.pyc
*.log
*.pot

credit_draw.py
credit_draw_v2.py
doc_generation.py
doc_generation2.py

template.docx
test.docx

.vscode